.assignments-header {
	margin-left: 9rem;
	padding: 20px;
	vertical-align: bottom;
}

.assignments-card {
	width: 36rem;
}

.inner-card {
	padding-bottom: 25px;
}

.show-link-card {
	margin-top: 3rem;
}

.assignment-profile {
	margin-left: 240px;
	vertical-align: top;
}
