
.assignments-card {
	width: 36rem;
}

.inner-card {
	padding-bottom: 25px;
}

.show-link-card {
	margin-top: 3rem;
}

.assignment-profile {
	margin-left: 240px;
	vertical-align: top;
}

.inner-card-assignment {
	border-width: 0px;
	border-style: solid;
	border-radius: 25px;
}

.inner-card-details {
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	background: #F0F4FB;
	border-radius: 25px;
	border-width: 1px;
	border-style: solid;
	border-color: #f5f5f5;
}

.inner-card-feedback {
	margin-top: 15px;
	padding-bottom: 5px;
	padding-top: 10px;
	padding-left: 10px;
	background: #F0F4FB;
	border-radius: 25px;
	border-width: 1px;
	border-style: solid;
	border-color: #f5f5f5;
}

.inner-card-completed {
	padding-bottom: 5px;
	padding-left: 10px;
}

