body {
  background-color: #F0F4FB;
}

.user-nav {
  background-color: none;
  color: #42515a;
}

.section-header {
  color: #42515a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.student-lesson {
  display: flex!important;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(232,232,232);
}

.user-info {
  display: flex;
  align-items: center;
  margin: 0 0 20px;
}

.student-lesson img {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.student-lesson h5 {
  font-family: 'Roboto', sans-serif;
  color: #42515a;
  font-weight: bold;
}

.schedule {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #42515a;

  span {
    opacity: 0.6;
  }
}

.schedule li {
  line-height: 2rem;
}

.start-time {
  display: flex;
  color: #42515a;
  justify-content: center;
  opacity: 0.6;
}

.start-time span {
  font-family: 'Roboto', sans-serif;
  padding-right: 5px;
}

.lesson-time {
  text-align: right;
  align-items: center;
}

.meeting {
  justify-content: space-between;
  margin: 10px auto;
  align-items: center;
}

.schedule-list .meeting p {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-weight: 600;
}

.schedule-list .calendar-heading {
  font-family: 'Roboto', sans-serif;
  justify-content: space-between;
}

.no-lessons {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-align: center;
  justify-content: center;
  margin: 200px auto;
}
.no-lessons p {
  color: #42515a;
  opacity: 0.6;
}

.no-lessons a {
  font-family: 'Roboto', sans-serif;
  color: #18C890;
}

.no-lessons a:hover {
  color: #11996d;
}

.inner-header {
  display: block;
}

.lesson .section-header .inner-header h4 {
  color: #42515a;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0.5rem;
}

.inner-header p {
  font-family: 'Roboto', sans-serif;
  color: #42515a;
  opacity: 0.6;
}

.lesson-notes-container {
  color: #42515a;
  font-family: 'Roboto', sans-serif;
  justify-content: space-between;
}

.lesson-notes-container p {
  opacity: 0.6;
}

.lesson-notes-container .section-header h4 {
  margin-bottom: 0;
}

.lesson-notes-container span {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #42515a;
  font-weight: bold;
  padding-right: 2rem;
  opacity: 0.6;
}
