body {
  background-color: #F0F4FB;
}

.user-nav {
  background-color: none;
  color: #42515a;
}

.section-header {
  color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.student-lesson {
  display: flex!important;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(232,232,232);
}

.user-info {
  display: flex;
  align-items: center;
  margin: 0 0 20px;
}

.student-lesson img {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.student-lesson h5 {
  font-weight: bold;
}

.schedule {
  list-style: none;
  margin: 0;
  padding: 0;
  color: grey;
}

.schedule li {
  line-height: 2rem;
}

.start-time {
  display: flex;
  color: grey;
  justify-content: center;
}

.start-time span {
  padding-right: 5px;
}

.lesson-time {
  text-align: right;
  align-items: center;
}

.meeting {
  justify-content: space-between;
  margin: 10px auto;
  align-items: center;
}

.schedule-list .meeting p {
  margin: 0;
  font-weight: 600;
}

.schedule-list .calendar-heading {
  justify-content: space-between;
}

.no-lessons {
  font-size: 18px;
  text-align: center;
  justify-content: center;
  margin: 200px auto;
}

.no-lessons a {
  color: #18C890;
}

.no-lessons a:hover {
  color: #11996d;
}

.inner-header {
  display: block;
}

.inner-header h4 {
  margin-bottom: 0.5rem;
}

.inner-header p {
  color: #000;
}
