.notes-container {
  width: 800px;
  margin: auto;
  background-color: #fff;
  padding: 16px 30px;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
  position: relative;
}

.form-input-field {
  background-color: #E5E5E5 !important;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

.bold-headers {
  font-weight: bold;
  color: black;
  text-align: center;
}

