.tab-content .resource-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.card-container-new-resources {
	width: 45rem; 
	margin: 5rem;
}

.container-resources {
	background-color: white; 
	border-radius: 10px; 
	padding: 30px;
}

.resource-header {
	text-align: center;
}

.form-container {
	margin: 20px;
}

.form-attachment {
	padding-top: 10px;
	padding-bottom: 20px;
}

.show-card-container {
	margin-left: 5rem; 
    padding: 50px;
	background-color: white;
	margin-right: 10rem;
}

.button-style-resource {
    padding-top: 30px; 
    padding-bottom: 30px;
}

.button-link {
	margin-left: 25rem;
	color: #18C890;
	font-size: 20px;
}

.resource-show-header {
	margin-bottom: 30px;
}

.resource-show-button {
	text-align: center;
}

.resource-index-header {
	font-size: 25px;
	color: #5B16BD;
	padding-bottom: 10px;

}

.beginner1-folder {
	padding-top: 32px;
}

.index-top-header {
	margin-left: 2rem;
}
