.tab-content .resource-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.folder-name {
	color: #42515A;
	opacity: 0.9;
}

.card-container-new-resources {
	width: 45rem; 
	margin: 5rem;
}

.container-resources {
	background-color: white; 
	border-radius: 10px; 
	padding: 30px;
}


.form-container {
	margin: 20px;
}

.form-attachment {
	padding-top: 10px;
	padding-bottom: 20px;
}

.show-card-container {
	margin-left: 7rem;
  padding-top: 25px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
	background-color: white;
	margin-right: 7rem;
	border-radius: 10px;
}

.button-style-resource {
    padding-top: 30px; 
    padding-bottom: 30px;
}

.button-link {
	margin-left: 25rem;
	color: #18C890;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-decoration: none;
}

.button-link:hover {
    color: #11996d;
    text-decoration: none;
    transition-timing-function: linear;
    transition: 0.3s;
}

.resource-show-header {
	padding-top: 0px;
	margin-bottom: 40px;
	text-align: center;
}

.resource-show-button {
	text-align: left;
}

.resource-index-header {
	text-align: left;
	font-size: 25px;
	padding-bottom: 15px;
	text-align: left;
	margin-bottom: 0;
	padding-left: 2px;
	color: #18C890;

}

.resource-index-header:hover {
	color: #18C890;
    text-decoration: underline;
    background-color: transparent;

}

.beginner1-folder {
	padding-top: 18px;
  margin-top: 1px;
}

.index-top-header {
	margin-left: 2rem;
	margin-bottom: 0rem;
	padding-bottom: 0px;
	color: #42515A;
	}

.show-attachments {
	display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-gap: 8px;
}

.show-back-button {
	padding-top: 10px;
	margin-left: 6.7rem;
}

.new-back-button {
	padding-top: 20px;
}