.card-container-new-resources {
	width: 45rem; 
	margin: 5rem;
}

.container-resources {
	background-color: white; 
	border-radius: 10px; 
	padding: 30px;
}

.resource-header {
	margin: 20px;
}

.form-container {
	margin: 20px;
}

.form-attachment {
	padding-top: 10px;
	padding-bottom: 20px;
}

.show-card-container {
	margin-left: 5rem; 
    padding: 50px;
	background-color: white;
	margin-right: 10rem;
}

.button-style-resource {
    padding-top: 30px; 
    padding-bottom: 30px;
}

.button-link {
	margin-left: 25rem;
}

.resource-show-header {
	margin-bottom: 30px;
}