body {
  background-color: #F0F4FB;
  font-family: 'Roboto', sans-serif;
}

.student-details {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.student-details .inner-details {
  align-items: center;
  display: flex;
}

.student-details img {
  margin-right: 30px;
}

.student-details .cta {
  margin: 0 50px;
}

.lesson .section-header h4 {
  margin-bottom: 0;
}

.student-lesson {
  justify-content: space-between;
  padding: 20px 0;
  min-width: 500px;
}

.student-lesson p {
  margin: 0 15px;
  opacity: 0.6;
}
.student-lesson .lesson-info h5 {
  color: #18C890;
}

.student-lesson .lesson-info p {
  margin: 0;
  opacity: 0.6;
}

.student-lesson .lesson-info {
  align-items: center;
}

.student-lesson .lesson-start {
  justify-content: flex-end;
}

.student-lesson .lesson-start p {
  margin: 0 15px;
  opacity: 0.6;
}

.assignments-container {
  margin: 10px auto;
  justify-content: center;
}

.back-cta {
  color: grey;
  margin-top: 30px;
  align-items: center;
  display: flex;
}

.light-gray-information {
  color: #808080;
  margin-bottom: 8px;
}

.position-top {
  position: absolute;
  top: 0px;
  right: 0px;
}

.back-cta:hover {
  color: #42515a;

    a {
      text-decoration: underline;
    }
    span {
      color: #42515a;
    }
}

.lesson-info-container {
  padding-top: 1px;
}
