body {
  background-color: #F0F4FB;
  font-family: 'Roboto', sans-serif;
}

.student-list-card {
  width: 100%;
  background: white;
  border-radius: 15px;
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
}

.student-list {
  margin: 50px;
}

.content-wrapper {
  margin: 0 30px;
}

.studentlist-info {
  font-size: 16px;
  color: rgb(144,144,144);
  text-align: right;
}

a:hover {
  text-decoration: none;
}

a:hover .student-list-card {
  background-color: #40137e29;
  transition-timing-function: linear;
  transition: 0.6s;
}

a:hover .student-list-card p {
  font-family: 'Roboto', sans-serif;
  color: white;
  transition: 0.3s;
}

.student-list-card h5 {
  font-family: 'Roboto', sans-serif;
  color: #42515a;
}

a:hover .student-list-card h5 {
  color: white;
  transition: 0.3s;
}

.student-list-card .student-name {
  color: #42515a;
  display: flex;
  align-items: center;
}

.student-list-card .student-name img {
  margin-right: 20px
}

.student-search-bar {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-width: 1px;
  border-color: #8c71b2;
}

.student-search-bar .form-control:focus {
  border-color: #3F137E;
  box-shadow: 0 0 0 0.2rem #ece7f2;

}

.student-search-bar .btn {
  background-color: #3F137E;
  border-width: 1px;
  border-color: #3F137E;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.vl {
  border-left: 6px solid green;
  height: 80%;
}

.studentlist-info .next-lesson {
  font-weight: bold;
}
