<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>

<div>
  <div class="app-nav">
    <%= cl_image_tag "FiveLines-logo-white_tn4fjy.svg", width: 200, crop: :fit %>
      <div class="menu-wrapper">
        <ul>
          <li><%= link_to "Home", dashboard_path%></li>
          <li><%= link_to "Students", students_path, class: "vert-nav-link" %></li>
          <li><%= link_to "Calendar", calendar_path, class: "vert-nav-link" %></li>
          <li><%#= link_to "Assignments", student_assignments_user_path, class: "vert-nav-link" %></li>
          <li><%#= link_to "Messages", messages_path, class: "vert-nav-link" %></li>
          <li><%#= link_to "Resources", resources_path, class: "vert-nav-link" %></li>
        </ul>
      </div>
  </div>
</div>
