<div class="calendar-container">
  <%= month_calendar(events: @meetings, end_attribute: :end_time) do |date, meetings| %>
    <%= date %>

    <% meetings.each do |meeting| %>
      <div class="meeting">
        <p><%= meeting.student.first_name %></p>
        <small><%= meeting.time %></small>
      </div>
    <% end %>
  <% end %>
</div>
