
<div class="notes-container">
  <h1>Notes For This Lesson</h1>
  <%= simple_form_for [ @lesson ] do |f| %>
    <%= f.input :student_notes,
                label: "Notes for #{@lesson.student.first_name}",
                input_html: { class: "form-input-field"} %>
    <%= f.input :teacher_notes,
                label: "Notes for me",
                input_html: { class: "form-input-field" } %>
      <%= f.submit "Add Notes", class: "form-button-green" %>
  <% end %>
</div>

