<h1 style="margin-left: 5rem; padding: 30px;">Resource for my students</h1>

<div class="card-container" style="margin-left: 5rem; padding: 30px;">

<h3> <%= @resource.title.capitalize %> </h3>
     <p>
        <% if @resource.photo.attached? %>
          <%= link_to cl_image_path(@resource.photo.key) do %>
          <%= cl_image_tag @resource.photo.key, height: 250, width: 300, crop: :fill, style: "vertical-align:top;" %>
          <% end %>
        <% end %>
        <% if @resource.video.attached? %>
            <%= cl_video_tag @resource.video.key, height: 250, width: 300,crop: :fill, controls: true %>
        <% end %>
    </p>
</div>
