<h2 class="resource-header">Resources for my students</h2>

<div class="show-card-container">

<h3 class="resource-show-header"> <%= @resource.title.capitalize %> </h3>
     <div class="show-attachments">
        <% if @resource.photo.attached? %>
          <%= link_to cl_image_path(@resource.photo.key) do %>
          <%= cl_image_tag @resource.photo.key, height: 250, width: 300, crop: :fill, style: "vertical-align:top;" %>
          <% end %>
        <% end %>
        <% if @resource.video.attached? %>
            <%= cl_video_tag @resource.video.key, height: 250, width: 300,crop: :fill, controls: true %>
        <% end %>
    </div>
</div>
