.list-group-item {
	border: 0;
	background-color: transparent;
	margin-top: 25px;
	padding: 0px;
  font-size: 16px;
}

.my-container {
  width: 70%;
  margin: auto;
}

.underlined-link {
  text-decoration: underline;
}


.underlined-link:hover {
  color: #3F137E;
}
