.simple-calendar {
  table {
    min-height: 80vh;
  }
  .today {
    background-color: #FAF3DD;
  }
}

.meeting {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.meeting:hover {
  background: #1BCB7F;
  color: white;
}

.calendar-heading {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.calendar-heading a {
  color: #18C890;
}

.calendar-heading a:hover {
  color: #11996d;
}

.simple-calendar .today {
  background-color: rgba(24, 200, 144, 0.2);
}
