.simple-calendar {
  table {
    min-height: 80vh;
  }
}

.meeting {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #18C890;
  transition: background 0.3s ease;
}


.meeting:hover {
  background: #11996d;
  color: white;
}

.calendar-heading {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.calendar-heading a {
  color: #18C890;
}

.calendar-heading a:hover {
  color: #11996d;
}

.simple-calendar .today {
  background-color: rgba(24, 200, 144, 0.2) !important;
}

// .simple-calendar .prev-month {
//   background-color: rgba(63, 19, 126, 0.3);
// }

// .simple-calendar .next-month {
//   background-color: rgba(63, 19, 126, 0.3);
// }



.simple-calendar th {
  color: rgb(63, 19, 126);
}


// .simple-calendar .calendar-title {
//   font-family: 'Roboto', sans-serif;
//   color: #18C890;
//   background-color: none !important;
//   border: 2px solid #18C890;
//   border-radius: 25px;
//   padding: 7px 30px;
//   width: auto;
//   font-size: 20px;
//   text-align: center;
//   text-decoration: none;
//   margin: 5px;
//   font-size: 16px;
// }
