.simple-calendar {
  table {
    min-height: 80vh;
  }
}

.meeting {
  color: white;
  padding: 4px 20px;
  border-radius: 4px;
  background: #18C890;
  transition: background 0.3s ease;
}

.meeting-link {
  color: white;
}

.meeting-link:hover {
  color: white;
}

.meeting p {
  margin-bottom: none;
}


.meeting:hover {
  background: #11996d;
  color: white;
}

.calendar-heading {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.calendar-heading a {
  color: #18C890;
  align-self: flex-end;
  font-size: 30px;
  padding-right: 5px;
  padding-left: 5px;
}

.calendar-heading a:hover {
  color: #11996d;
}

.simple-calendar .today {
  background-color: rgba(24, 200, 144, 0.2) !important;
}


.calendar-title {
  background-color: transparent;
  border: none;
  color: #0E0000;
  font-size: 1.5rem;
  padding-bottom: none;
  font-weight: 600;
  align-self: center;
}

.calendar-heading {
  justify-content: space-between;
  width: 100%;
}

.simple-calendar td {
  border-top-color: rgba(63, 19, 126, 0.2);
  border-bottom-color: rgba(63, 19, 126, 0.2);
  border-left-color: transparent;
  border-right-color: transparent;
  color: #42515a;
}

.simple-calendar th {
  border-top: 1px solid rgba(63, 19, 126, 0.3);
  border-bottom: 2px solid rgba(63, 19, 126, 0.3);
  border-left: transparent !important;
  border-right: transparent !important;
}

.table thead th {
  border-bottom: 1px solid rgba(63, 19, 126, 0.3);
  color: #42515a;
}

.simple-calendar .prev-month {
  background: transparent;
}

.simple-calendar .next-month {
  background: transparent;
}

.simple-calendar .meeting p {
  margin-bottom: 0;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: rgba(63, 19, 126, 0.1);
}

.simple-calendar td:hover {
  background-color: rgba(63, 19, 126, 0.5) !important;
  cursor: pointer;
  transition: background 0.2s ease;
}

.simple-calendar .calendar-heading my-2 a { border: none; }
