.flatpickr-day:hover {
  background-color: rgba(63, 19, 126, 0.5);
}

.flatpickr-day.today {
  border-color: rgba(63, 19, 126, 0.2);
}

.flatpickr-day.today:hover {
  background-color: rgba(63, 19, 126, 0.5);
}
