.underlined-link {
  text-decoration: underline;
}


.underlined-link:hover {
  color: #3F137E;
}

.link-right {
  position: absolute;
  right: 29px;
  top: 0;
}

.form-link {
  color: #18C890;
  align-self: center;
  margin-left: 16px;
}

.form-link:hover {
  color: #11996d;
}
