.navbar-lewagon {
  justify-content: space-between;
  background: none;
  margin-bottom: 30px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}

.user-nav {
  display: flex;
  background: none;
  margin-bottom: 30px;
  justify-content: flex-end;
}

.navbar-nav-items {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}

.user-nav-items {
  display: inline-flex!important;
  margin: 0 20px;
}

.user-nav-items .navbar-collapse {
  flex-grow: 0;
}
