body, html {
    height: 100%;
}

.roboto-header {
  font-family: 'Roboto', sans-serif;
}

#videos {
    position: relative !important;
    flex-grow: 1;
    height: 550px;
    background-color: $gray;
    border-radius: 10px;
}

.OT_subscriber {
    position: absolute !important;
    left: 0;
    right: 0;
    width: 97% !important;
    top: 10px;
    margin: auto !important;
    height: 488px !important;
    z-index: 10;
    border-radius: 10px;
}

.OT_publisher {
    position: absolute !important ;
    width: 260px !important;
    height: 160px !important;
    bottom: 58px !important;
    right: 23px !important;
    z-index: 100 !important;
    border: 3px solid white;
    border-radius: 3px;
    border-radius: 10px;
}

.video-controls {
  position: absolute;
  right: 45%;
  bottom: 12px;
}

#videocall-red-btn {
  color: white;
  font-size: 14px;
  border-radius: 30px;
  background-color: $red;
  padding: 8px 16px;
  opacity: 0.8;
  transition: 0.5s;
  margin-right: 2px;
  margin-left: 2px;
}

#videocall-red-btn:hover {
    color: $red;
    background-color: white;
}

.green-btn {
  color: white;
  font-size: 15px;
  border-radius: 30px;
  background-color: $green;
  padding: 8px 16px;
  opacity: 0.8;
  transition: 0.5s;
  margin-right: 2px;
  margin-left: 2px;
}

.green-btn:hover {
  color: $green;
  background-color: white;
  cursor: pointer;
}

.inactive-videocall {
  background-color: $red;
  color: white;
  font-size: 14px;
  border-radius: 30px;
  padding: 8px 16px;
  opacity: 0.8;
  transition: 0.5s;
  margin-right: 2px;
  margin-left: 2px;
}

.inactive-videocall:hover {
  color: $red;
  background-color: white;
  cursor: pointer;
}
