body, html {
    height: 100%;
}

#black-background {
  background-color: $gray !important;
  color: white !important;
}


#videos {
    position: relative !important;
    width: 750px;
    height: 400px;
    margin-left: auto;
    margin-right: 10px;
}

.OT_subscriber {
    position: absolute !important;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.OT_publisher {
    position: absolute !important ;
    width: 260px !important;
    height: 160px !important;
    bottom: 10px !important;
    left: 10px !important;
    z-index: 100 !important;
    border: 3px solid white;
    border-radius: 3px;
}

#phone-btn {
  color: white;
  position: absolute;
  right: 0px;
  bottom: -35px;
  font-size: 12px;
  border-radius: 30px;
  background-color: $red;
  padding: 8px 16px;
  opacity: 0.8;
}
